svg{
	width: 40px;
	height: 40px;
	background-color: rgb(38, 157, 255);
	border-radius: 100px;
	color: white;
	padding: 7px;
}

h1{
	text-align: center;
}
body {
	/* margin: 0; */
	/* background: linear-gradient(45deg, #49a09d, #5f2c82); */
	font-family: sans-serif;
	font-weight: 100;
}

table {
	/* width: 800px; */
	padding: 100px;
	border-collapse: collapse;
	/* overflow: hidden; */
	/* box-shadow: 0 0 0 20px rgba(0,0,0,0.1); */
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	/* color: #fff; */
}

th {
	text-align: left;
}

.user-row:nth-child(odd) {
  background-color: #cdcdcd5e; /* Color rojo para las filas impares */
}

thead {
	th {
		/* background-color: #55608f; */
    border-bottom: 1px solid black;
	}
}

.user-row:hover {
  background-color: rgba(84, 184, 255, 0.403);
}

#nombre{
  text-transform: uppercase;

}.add-student-icon{

}

